menu "Frame Configuration"

    config FRM_LOG_LEVEL
        int "Frame LOG LEVEL"
        range 0	5
        default 3
        help
        	Set LOG Level for FRAME module
        	0=None
        	1=Error
        	2=Warn
        	3=Info
        	4=Debug
        	5=Verbose
        	
    config UART_LOG_LEVEL
        int "UART LOG LEVEL"
        range 0	5
        default 3
        help
        	Set LOG Level for UART module
        	0=None
        	1=Error
        	2=Warn
        	3=Info
        	4=Debug
        	5=Verbose

endmenu
